<launch>
    <!--onboard example-->
    <include file="$(find drone_control_node)/launch/lauchDroneControlNode.launch">
		<arg name="onboard" value="true"/>
		<arg name="image" value="false"/>
		<arg name="hasGripper" value="true"/>
	</include>
    <include file="$(find ros_circuitpython_servokit_node)/launch/lauchROS_CircuitPython_ServoKit_Node.launch">
    </include>
</launch> > 
